<ion-header>
    <ion-navbar>
        <ion-title icon>{{name}} </ion-title> 
    </ion-navbar>
</ion-header>
<ion-content >
        <ion-list>
                <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                              Common: 
                            </ion-col>
                            <ion-col col-6>
                                {{main}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                Temperature:
                            </ion-col>
                            <ion-col col-6>
                                {{temperature}}
                            </ion-col>
                        </ion-row>
                </ion-grid>
        </ion-list>
        <ion-card>
            <div [chart]="chart"></div>
        </ion-card>
        <button *ngIf="isFav" ion-button outline full (click)="RemoveFromFav()">
            Remove from fav
        </button>
        <button *ngIf="!isFav" ion-button full (click)="AddToFav()">
            Add to Fav
        </button>
    </ion-content>